body { 
    margin:20px; 
    font-size: 16px;
}
a { 
    color:#330066;
    text-decoration:none;
}

.main-wrapper { 
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.main-header { 
    color:white; 
    font-weight:bold; 
    font-size:20px;
    background:#C0C0C0;
    padding:10px 0px 10px 0px; 
    border:1px solid #D0D0D0; }

.nav{
    margin-top: 25px;
}
.nav a { 
    display:inline-block;
    background:#E0E0E0; 
    border:1px solid #D0D0D0; 
    border-top:0; 
    padding:4px; 
}

.nav a:hover { 
    background:#FF9933;
}


.footer { 
    text-align:center; 
    border-top:5px solid #E0E0E0;
    margin-top:20px;
    padding-top:4px; 
}

#content_wrapper { 
    padding-right:200px;
}
#content { 
    width:100%;
}
#subnav {
    width:200px;
    margin-right:-200px;
}
#subnav a { 
    display:block;
    margin-bottom:4px;
}

#content .header, #subnav .header { 
    font-size:135%; 
    font-weight:bold;
    margin-top:20px;
    margin-bottom:20px; 
}

.roomList li { 
    padding:5px; 
}

.roomDetails .row { 
    border-bottom:1px dashed #C0C0C0;
    margin-top:5px; 
    margin-bottom:5px;
    margin-right: 0px;
    margin-left: 0px;
}

.roomDetails .field {
    font-weight:bold;
    float:left; 
}
.roomDetails .field, .roomDetails .val { 
    padding:4px;
}

.equpmentPartial {
    border:1px solid #D0D0D0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top:10px;
}
.equpmentPartial .row {
    border-bottom:1px dashed #C0C0C0;
    margin-top:5px; 
    margin-bottom:5px;
}

.equpmentPartial .field { 
    font-weight:bold;
}

.equpmentPartial .field, .equpmentPartial .val { 
    padding:4px; 
}
.equpmentPartial .last { 
    border-bottom:0;
}

.form { }
.form div { 
    padding:4px; 
}
.form label span {
    padding-right:4px;
}

.errors { 
    color:red; 
}
input.input-error { 
    border:1px solid red;
}

.field{
    float:left;
}

.equipmentPartial{
    margin-top: 5px;
    border: solid 1px;
}